* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  border: 2px black dotted;
  display: inline-block;
  padding: 1rem;
}

.box {
  display: inline-block;
  background-color: aqua;
  width: 100px;
  height: 100px;
}

#one {
  position: sticky;
}

#two {
  position: relative;
  top: 1.5rem;
  background-color: aquamarine;
}

#three {
  position: fixed;
  bottom: .4rem;
}

#four {
  position: absolute;
}
